# flyctl launch added from .elixir_ls/.gitignore
.elixir_ls/**/*

# flyctl launch added from .gitignore
# The directory Mix will write compiled artifacts to.
_build

# If you run "mix test --cover", coverage assets end up here.
cover

# The directory Mix downloads your dependencies sources to.
deps

# Where 3rd-party dependencies like ExDoc output generated docs.
doc

# Ignore .fetch files in case you like to edit your project deps locally.
.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
**/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
**/*.ez

# Ignore package tarball (built via "mix hex.build").
**/cars_commerce_puzzle_adventure-*.tar

# Ignore assets that are produced by build tools.
priv/static/assets

# Ignore digested assets cache.
priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
**/npm-debug.log
assets/node_modules

**/.vscode/*

# flyctl launch added from deps/patchwork/.gitignore
# The directory Mix will write compiled artifacts to.
deps/patchwork/_build

# If you run "mix test --cover", coverage assets end up here.
deps/patchwork/cover

# The directory Mix downloads your dependencies sources to.
deps/patchwork/deps

# Where third-party dependencies like ExDoc output generated docs.
deps/patchwork/doc

# Ignore .fetch files in case you like to edit your project deps locally.
deps/patchwork/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
deps/patchwork/**/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
deps/patchwork/**/*.ez

# Ignore package tarball (built via "mix hex.build").
deps/patchwork/**/patchwork-*.tar

# Temporary files, for example, from tests.
deps/patchwork/tmp
fly.toml
