<main class="fixed inset-0 bg-gradient-to-br from-purple-800 via-blue-800 to-indigo-800 overflow-auto">
  <div class="min-h-full">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
