.board {
    display: flex;
    flex: auto;
    justify-content: center;
    background-color: cadetblue;

    --tile-square-size: 30px
}

.playfield {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: antiquewhite;
}

.sparsegrid {
    display: grid;
    grid-template-columns: repeat(var(--num-columns), var(--tile-square-size));
}

.tetris-tile-red {
    background-color: red;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.tetris-tile-green {
    background-color: green;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.tetris-tile-blue {
    background-color: blue;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.tetris-tile-cyan {
    background-color: cyan;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.tetris-tile-yellow {
    background-color: yellow;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.tetris-tile-purple {
    background-color: purple;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}
.tetris-tile-orange {
    background-color: orange;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.tetris-tile-grey {
    background-color: grey;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.tetris-tile-empty {
    background-color: none;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

