.single-player-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
    padding-bottom: 5%;
}

.board {
    display: flex;
    flex: auto;
    flex-direction: row;
    gap: 3%;
    justify-content: center;

    --tile-square-size: 30px
}

.playfield {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: antiquewhite;
}

.score-box {
    font-size: 2em;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 1%;
    margin: 1%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;

    background-color: antiquewhite;
}

.tile-box {
    height: fit-content;
    width: fit-content;
    background-color: antiquewhite;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
}

.sparsegrid {
    display: grid;
    grid-template-columns: repeat(var(--num-columns), var(--tile-square-size));
}

.tetris-tile-red {
    background-color: red;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.tetris-tile-green {
    background-color: green;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.tetris-tile-blue {
    background-color: blue;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.tetris-tile-cyan {
    background-color: cyan;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.tetris-tile-yellow {
    background-color: yellow;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.tetris-tile-purple {
    background-color: purple;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}
.tetris-tile-orange {
    background-color: orange;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.tetris-tile-grey {
    background-color: grey;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.tetris-tile-empty {
    background-color: none;
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.tetris-tile-preview {
    background-color: none;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0,0,0, 0.15);
    width: var(--tile-square-size);
    height: var(--tile-square-size);
}

.game-over-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    border-style: double;
    border-width: 5px;
    border-color: black;
    width: 30%;
    height: 20%;
}