.modal {
    display: flex;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.modal-content {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    border-style: double;
    border-width: 5px;
    border-color: black;
    width: 30%;
    height: 20%;
}