<div class="signup-form">
  <%= form_for :signup, "#", [phx_submit: "set-username"], fn f -> %>
      <%= label f, "What would you like to be called?" %>
      <%= text_input f, :username %>
      <%= submit "Save" %>
  <% end %>
</div>
